.NewCollection95 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0;
	padding: 0;
	img {
		max-height: 300px;
		width: auto;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 4px 4px 7px white;
	}
	h3 {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	li {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	hr {
		margin-top: 2em;
	}

	.NewItemsRow1 {
		list-style-type: none;

		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		@media screen and (max-width: 1919px) {
			li:nth-of-type(4) {
				display: none;
			}
		}
	}
	.NewItemsRow2 {
		list-style-type: none;

		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		@media screen and (max-width: 1919px) {
			li:nth-of-type(4) {
				display: none;
			}
		}
	}
	.NewItemsRow3 {
		list-style-type: none;

		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		@media screen and (max-width: 1919px) {
			li:nth-of-type(4) {
				display: none;
			}
		}
	}
	.NewItemsRow4 {
		list-style-type: none;

		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		@media screen and (max-width: 1919px) {
			li:nth-of-type(4) {
				display: none;
			}
		}
	}
}
