.LoadScreenContainer {
	color: #ffffff;
	height: 100vh;
	padding-top: 20vh;

	@media screen and (max-width: 19219px) {
		.LoadingSymbol {
			height: 6em;
			width: auto;
		}
		.LoadingText {
			font-size: 1.3em;
		}
	}
	@media screen and (min-width: 1920px) {
		.LoadingSymbol {
			height: 10em;
			width: auto;
		}
		.LoadingText {
			font-size: 2em;
		}
	}
}
