@import '../StyleVariable.scss';

.Nav {
	position: sticky;
	top: 0px;
	height: fit-content;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid $FontColor;
	align-items: center;

	.Logo {
		margin-right: auto;
		height: 30px;
		width: auto;
		margin-left: 1em;
	}

	a {
		color: $FontColor;
		margin: 1em;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 2em;
		font-weight: 500;
		text-decoration: none;
		p {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
	}
	a:hover {
		color: rgb(175, 45, 64);
		text-decoration: underline;
	}
}
