Nav {
	position: sticky;
	top: 0px;
	background-color: turquoise;
	height: fit-content;
	display: flex;
	flex-direction: row;

	p {
		color: rebeccapurple;
	}
	p:hover {
		color: blue;
	}

	.NavTitle {
		margin-right: auto;
	}
}
